$titleFont: 'RocknRoll One', sans-serif;
$app-shadow-color: #571d58;
$font-size: 2.4rem;
$span-color: #000AFF;

.aboutWrapper {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;

  >.infoText {
    align-self: center;
    width: 67%;
    font-size: $font-size;
    font-family: $titleFont;
    color: #B5D3E6;
    margin: 24px;
    text-align: left;

      >span{
        font-size: 2.8rem;
        color: $span-color;
        animation: spanAnim 10s infinite alternate;
      }

  }
}

.headerAbout {
    width: 100%;
    font-family: $titleFont;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
   

    >.mainText {
        width: 60%;
        margin: 32px;

        >h1{
            font-size: 5rem;
            margin: 16px;
            color: #B5D3E6;
            text-shadow: 0 1px 0 $app-shadow-color, 0 2px 0 $app-shadow-color, 0 3px 0 $app-shadow-color, 0 4px 0 $app-shadow-color,
            0 5px 0 $app-shadow-color, 0 6px 0 $app-shadow-color, 0 7px 0 $app-shadow-color, 0 8px 0 $app-shadow-color, 0 9px 0 $app-shadow-color,
            0 50px 25px rgba(0, 0, 0, 0.2);
    
            >span{
                color: $span-color;
            }
        }
    }
}

@keyframes moveHandAnim {
  from {
    transform: rotateY(-20deg) rotateZ(-30deg) rotateX(-10deg);
    // width: 0%;
  }
  to {
    transform: rotateY(20deg) rotateZ(30deg) rotateX(10deg);
    // width: 20%;
  }
}

@keyframes spanAnim {
  0% {
    color: rgb(255, 0, 0)
  }

  50% {
    color: rgb(0, 255, 0)
  }

  100% {
    color: rgb(0, 0, 255)
  }
}



#hand-gesture {
  animation: moveHandAnim 3s alternate infinite;
}