
@keyframes moveCloud {
    from {
      transform: translateX(0);

    }
    to {
      transform: translateX(1200px);
    }
  }

@keyframes moveSunAndMoon {
    from {
      transform: translateX(-600px);

    }
    to {
      transform: translateX(0px);
    }
  }
@keyframes moveStar {
    from {
      height: 15%;
      transform: rotateZ(-5deg) rotateY(-15deg);

    }
    to {
      height: 18%;
      transform: rotateZ(5deg) rotateY(15deg);
    }
  }




.cloud-svg {
  pointer-events: none;
height: 48%;
position: absolute;
left: 50px;
top: 60px;
animation: moveCloud 16s alternate infinite;
}

.star-one {
  pointer-events: none;
position: absolute;
left: 150px;
top: 85px;
animation: moveStar 6s alternate infinite;
}
.star-two {
/*   pointer-events: none; */
position: absolute;
right: 350px;
top: 85px;
animation: moveStar 4s alternate infinite;
}




.sun-svg{
    cursor: pointer;
    position: absolute;
    left: 50px;
    top:-50px;
    animation: moveSunAndMoon 15s alternate infinite;

}

.moon-svg{
    position: absolute;
    left: 50px;
    top: 30px;
    height: 40%;
    animation: moveSunAndMoon 15s alternate infinite;
    cursor: pointer;
}