::-webkit-scrollbar {
  width: 8px;
  background-color: #571d58;
}

::-webkit-scrollbar-thumb {
  background-color: #571d58;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: #e94560;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 45%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RocknRoll One", sans-serif;
}

main > .main-wrapper > .title {
  font-size: 4rem;
  margin: 16px;
}

main > .main-wrapper > .subtitle {
  margin-top: 0;
  font-size: 2rem;
}

main > .main-wrapper > .quote {
  font-size: 1.2rem;
  color: white;
}

.title {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, black, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10vw;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px black;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px black;
  }
}

body {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e94560;
}

nav {
  height: 8vh;
  background-color: #571d58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

nav > h1 {
  opacity: 30;
  color: grey;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "RocknRoll One", sans-serif;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border: 1px solid black;
}

header .container > p {
  margin: 16px;
  font-size: 2rem;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

/* CLOUDS */
/* header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
    200px 0 200px 150px rgba(255, 255, 255, 0.6),
    -250px 0 300px 150px rgba(255, 255, 255, 0.6),
    550px 0 300px 200px rgba(255, 255, 255, 0.6),
    -550px 0 300px 200px rgba(255, 255, 255, 0.6);
} */
/* JUMP */
h1 {
  cursor: default;
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

h1 span {
  position: relative;
  top: 10px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
          animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #571d58, 0 2px 0 #571d58, 0 3px 0 #571d58, 0 4px 0 #571d58, 0 5px 0 #571d58, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -5px;
    text-shadow: 0 1px 0 #571d58, 0 2px 0 #571d58, 0 3px 0 #571d58, 0 4px 0 #571d58, 0 5px 0 #571d58, 0 6px 0 #571d58, 0 7px 0 #571d58, 0 8px 0 #571d58, 0 9px 0 #571d58, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
@keyframes bounce {
  100% {
    top: -5px;
    text-shadow: 0 1px 0 #571d58, 0 2px 0 #571d58, 0 3px 0 #571d58, 0 4px 0 #571d58, 0 5px 0 #571d58, 0 6px 0 #571d58, 0 7px 0 #571d58, 0 8px 0 #571d58, 0 9px 0 #571d58, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
/*# sourceMappingURL=styles.css.map */